# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Rey Williams\OneDrive - Florida Atlantic University\FAU Spring 2021\COP 5339 - Object-Oriented Software Design\Modules\Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
